/* .textcolor{
  color: white;
}

.nav>li>a:focus, .nav>li>a:hover {
  text-decoration: none;
  background-color: transparent !important;
}
.nav>li>a:focus, .nav>li>a:hover {
  text-decoration: none;
  color: #5db5f8 !important;
} */


/* 

body {
  margin: 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: rgba(82, 108, 245, 0.64)
}

#navcol-1 {
  font-size: 18px
}

@media (max-width: 576px) {
  .navbar-dark .navbar-nav .nav-link {
      float: right
  }
} */




.wrapper1 {
  background-color:#8c0001;
  height:22.4rem;
  width: 100%;
}



.bg-black {
  background-color: #000
}

.navbar-brand {
  padding: 11px 20px
}

.active {
  background-color: blue
}

.navbar-nav {
  width: 100%
}

.nav-link {
  color: #fff !important
}
.nav-link:hover{
  color: #5db5f8 ;

}

.nav-item {
  padding: 6px 12px;
  text-align: center;
 
}
.navbar-nav >li>a:focus, .nav-link>li>a:hover {
  text-decoration: none;
  color: #5db5f8 !important;
}

/* .nav-item:hover {
  background-color: blue;

} */

.right {
  margin-left: auto
}

.navbar-collapse.collapse.in {
  display: block !important
}
.navbar-brand {
  padding: 11px 20px
}

.navbar-dark2{
  font-size:17px;
  text-align:center; 
  background-color: #1873b9;
  border-radius: 0px !important;
  padding-top: -40% !important;
 margin-top: -7% !important;
}
/* .signbg{
  background:#008586;
}   */

@media (max-width: 992px) {
  .right {
      margin-left: 0
  }
  .navbar-brand2 {
    padding: 11px 20px;
    text-align: center;
    margin-top: -3% !important;
  }
 .navbar-toggler-icon{
   float: left;
 }
  /* .signbg{
    background:#008586;
  } */
 
  .boxwrapper{
    width: 100%;
    text-align: center;
    background-color:#8c0001;
    padding-top:69% !important;
    margin-top:-10% !important ;

  }
  .navbar-dark2{
    background-color:#8c0001;
    margin-top: 3% !important;
  }

  .nav-item {
      width: 100%;
      text-align: center;
      background-color:#8c0001;
  
  }
}
























